html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
body {
  font: 13px/1.231 arial, helvetica, clean, sans-serif;
  *font-size: small;
/* for IE */
  *font: x-small;
/* for IE in quirks mode */
}
select,
input,
button,
textarea {
  font: 99% arial, helvetica, clean, sans-serif;
}
table {
  font-size: inherit;
  font: 100%;
}
pre,
code,
kbd,
samp,
tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%;
}
#yui3-css-stamp.cssfonts {
  display: none;
}
body {
  background: #ccc;
  font-size: 12px;
}
h1 {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  padding: 1.5em;
}
.frame-all {
  width: 640px;
  margin: 0 auto;
}
.frame-footer {
  text-align: center;
  padding: 50px 0;
}
.mod-blk {
  font-size: 20px;
}
.mod-blk1 {
  height: 400px;
  background: #f00;
}
.mod-blk2 {
  height: 400px;
  background: #800080;
}
.mod-blk3 {
  height: 400px;
  background: #008000;
}
.mod-blk4 {
  height: 400px;
  background: #ff0;
}
.mod-blk5 {
  height: 400px;
  background: #ffa500;
}
.mod-hitline {
  height: 1px;
  background: #000;
  position: fixed;
  top: 50%;
  width: 100%;
}
.mod-gnav {
  position: fixed;
  top: 100px;
  left: 0;
}
.mod-gnav li {
  list-style-type: none;
  line-height: 3;
  width: 5em;
  margin-bottom: 1px;
}
.mod-gnav li a {
  display: block;
  background: #666;
  text-align: center;
}
.mod-gnav li.n1 a.on {
  background: #f00;
}
.mod-gnav li.n2 a.on {
  background: #800080;
}
.mod-gnav li.n3 a.on {
  background: #008000;
}
.mod-gnav li.n4 a.on {
  background: #ff0;
}
.mod-gnav li.n5 a.on {
  background: #ffa500;
}
